{% extends 'home.html' %}
{% load static %}
{% block title %} Campañas {% endblock %}
{% block entry %}

<article class="blog-post">
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE MAMA</h2>
        <p>El cáncer de mama es una enfermedad causada por la multiplicación anormal de las células 
            de la mama que forman un tumor maligno.</p>

        <h4 class="blog-post-title mb-2">Causas</h4> 
        <p>Se desconocen cuáles son las causas, aunque 
            existen algunos factores que aumentan el riesgo de contraer la enfermedad:</p>
        <ul>
            <li> Antecedentes familiares de cáncer de mama.</li>
            <li> Menstruación a edad temprana. </li>
            <li> Edad avanzada en el momento del primer parto o nunca haber tenido hijos.</li>  
        </ul>
        <p>Otros factores que aumentan esta posibilidad y sobre los cuales se puede intervenir son:</p>
        <ul>
            <li>El sedentarismo</li>
            <li>El sobrepeso</li>
            <li>El tabaquismo</li>
            <li>el consumo de alcohol en proporciones mayores a las recomendadas.</li>
        </ul> 

        <h4 class="blog-post-title mb-2">Diagnóstico </h4>
        <p>La prevención más eficaz del cáncer de mama es la detección precoz y por eso la autoexploración de 
        mamas de forma periódica es fundamental. Además a partir de los 40 años y antes si existen factores predisponentes 
        familiares, se debe realizar una mamografía anual que detecta pequeños tumores que pueden pasar desapercibidos 
        en la autoexploración.
        Ante la aparición de algunos de los siguientes síntomas, consulte a su médico:</p>
        <ul>
            <li>Nódulo o hinchazón en alguna de las mamas</li>
            <li>Secreción del pezón.</li>
            <li> Hoyuelos.</li>
            <li>Arrugas o pliegues nuevos.</li>
            <li>Pezones retraídos. </li>
        </ul> 
    </div>
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE PIEL</h2>
        <p>El cáncer de piel se produce por el desarrollo de células cancerosas en cualquiera de las capas de la piel. 
            La exposición reiterada a las radiaciones ultravioletas es la causa más frecuente y la única prevenible.Existen dos tipos de cáncer de piel:</p>
        <ul>
            <li>LOS EPITELIOMAS </li>
            <li>LOS MELANOMAS</li>
        </ul>
        
        <p><b>Los epitelomas</b> son los más frecuentes (95 % de todos los cáncer de piel) 
         y se presentan como lesiones nodulares (bultos o quistes) sobre todo a partir de los 50 años. Las lesiones se localizan en 
        las zonas más expuestas al sol, como cara, cabeza y cuello.</p>
        <p><b>Los melanomas cutáneos malignos</b>, son los menos frecuentes, aunque en algunas zonas del mundo su incidencia está aumentando en las últimas décadas.
        En general los melanomas se presentan como lesiones pigmentadas, asimétricas, de bordes irregulares y que tienden a crecer en poco 
        tiempo; o bien aparecen como cambios en las características de un lunar previamente existente.</p>

        <h4 class="blog-post-title mb-2">Síntomas</h4> 
        <p>Cualquiera sea su tipo de piel hágase un autoexamen mensual para encontrar nuevos lunares, 
        manchas o cambios en los ya existentes incluyendo marcas de nacimiento.</p>
        <blockquote class="blockquote">La regla <b>A B C D E</b> es otro método para identificar las señales habituales del melanoma.</blockquote>
        <ul>
            <li><b>A</b>simetría: la mitad del lunar o marca de nacimiento no corresponde a la otra mitad.</li>
            <li><b>B</b>orde:  los bordes son irregulares, desiguales, dentados o poco definidos.</li>
            <li><b>C</b>olor: el color no es uniforme y pudiera incluir sombras color marrón o manchas.</li>
            <li><b>D</b>iámetro el lunar mide más de 6mm de ancho, aunque puede se más pequeño.</li>
            <li><b>E</b>volución: el tamaño, el color o la forma del lunar están cambiando. Otras señales de advertencia:</li>
            <li>Heridas que no cicatrizan.</li>
            <li>Mancha que pica, escama o sangra.</li>
        </ul>
        <h4 class="blog-post-title mb-2">Causas</h4>
        Todos pueden tener cáncer de piel, pero las personas más susceptibles son:
        <ul>
            <li>Las de piel y ojos claros</li>
            <li>Las que siempre se queman y nunca se broncean con el sol.</li>
            <li>Aquéllas que se exponen o se expusieron al sol en forma excesiva.</li>
            <li>Quienes hayan sufrido quemaduras solares importantes.</li>
            <li>Las que tienen antecedentes familiares de cáncer de piel.</li>
            <li>Personas con muchos lunares.</li>
            <li>Personas con 5 o más exposiciones en cama solar.</li>
        </ul>
        <h4 class="blog-post-title mb-2">Prevención</h4>
            Para protegernos de las radiaciones ultravioletas, principal causa del cáncer de piel, 
            es muy importante tomar las siguientes precauciones:
            <ul>
            <li> Aplicar abundante cantidad de protector solar de amplio espectro (UVB-UVA) mínimo FPS 15 cubriendo la totalidad de la piel expuesta y renovar la aplicación cada 2 horas.</li>
            <li>el sol del mediodía entre las 10 y las 16 horas. </li> 
            <li>No exponer al sol en forma directa o indirecta a los niños menores de 1 año, pero ante la necesidad de hacerlo a partir de los 6 meses pueden usar protectores solares.</li>
            <li>Recordar que las nubes dejan pasar el sol y la arena, el agua y la nieve aumentan su acción.</li>
            <li>Recordar que ciertos medicamentos producen erupciones y quemaduras en la exposición al sol.</li> 
            <li>Usar gorro o sombrero y anteojos de sol</li>
        </ul>
    </div>
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE CUELLO UTERINO</h2>   
        <img src="/">
        <p>El cáncer de cuello de útero consiste en una proliferación anómala de células que se manifiesta 
            en el cuello uterino o cérvix (órgano que conecta el útero con la vagina) y que afecta,
            según estudios de los últimos años, a mujeres cada vez más jóvenes. Por lo general 
            es un cáncer que crece lentamente, que puede no tener síntomas pero que se detecta precozmente 
            con un Papanicolaou (procedimiento en el que se raspan células del cuello del útero y se observan bajo microscopio) 
            y una colposcopía según prescripción médica.</p>
            
            <h4 class="blog-post-title mb-2">Causas</h4>
            <p>El cáncer de cuello de útero es causado casi siempre por infección del Virus del 
            papiloma Humano (HPV) transmitido generalmente por vía sexual. No es hereditario.
            El ser causado por un virus ha permitido a los científicos desarrollar la vacuna 
            contra este cáncer, la cual es gratuita para las adolescentes a partir de los 11 años.</p>
            
        <h4 class="blog-post-title mb-2">Factores de riesgo</h4>
        <p>Los factores de riesgo que aumentan las posibilidades de contraer cáncer de cuello de útero son:</p>
            <ul>
                <li> Comenzar la actividad sexual a edad temprana.</li>
                <li>Tener múltiples parejas sexuales.</li>
                <li>Fumadoras.</li>
                <li>Portadoras de H.P.V. y H.I.V.</li>
                <li>No hacerse un PAP anualmente.</li>
            </ul>
        <h4 class="blog-post-title mb-2">Síntomas</h4>
        <p>En la mayoría de los casos, este cáncer crece sin causar 
        ninguna molestia pero si se torna invasivo y
        toma los tejidos adyacentes puede manifestar los siguientes síntomas:</p>
            <ul>
                <li>Hemorragias y flujos vaginales anormales.</li>
                <li>Dolor o sangrado durante las relaciones sexuales.</li>
                <li>Dolor pélvico.</li>
                <li>Cualquier sangrado después de la menopausia</li>
            </ul>    
    </div>   
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE PRÓSTATA</h2>
        <img src="/">
            <p>Es el cáncer que se forma en los tejidos de la próstata, glándula del aparato reproductor masculino que queda por debajo de la vejiga y delante del recto.
            El desarrollo de la próstata depende de las hormonas llamadas andrógenos (de andro-género masculino) y una de ellas, la testosterona, es el principal estímulo para su crecimiento.<br/>
            Esta glándula pesa muy poquito al nacer y va aumentando con la edad. El volumen es muy variable y 
            lo produce generalmente la denominada hipertrofia prostática benigna (HPB) que como indica su nombre no tiene malignidad, 
            pero por su íntima relación con la uretra y la vejiga puede ocasionar problemas al orinar. También el crecimiento de esta glándula puede producir infecciones (prostatitis) y tumores malignos.</p>
        
        <h4 class="blog-post-title mb-2">Síntomas</h4>
        <p>Si usted presenta cualquiera de los siguientes síntomas consulte a su médico:</p>
        <ul>
            <li>Flujo de orina débil.</li>
            <li>Dificultad al orinar o pérdida de sangre.</li>
            <li>Aumento de la necesidad de orinar en especial durante la noche</li>
            <li>Antecedentes familiares de cáncer de próstata.</li>
            <li>Ser mayor de 50 años</li>
        </ul>
        
        <h4 class="blog-post-title mb-2">Detección</h4>
        <ul>
            <li>Tacto rectal.</li>
            <li>Prueba del antígeno prostático específico (PSA)</li>
            <li> Ecografía prostática transrectal.</li>
        </ul>
    </div>   
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE COLON</h2>
        <p>El cáncer de colon es el tumor maligno que se desarrolla en la última parte del intestino grueso
            y se produce como consecuencia de una compleja interacción de factores hereditarios y ambientales
            y con mayor frecuencia en personas mayores de 50 años.<br/></p>
        <p>Generalmente se produce en primer pólipo (adenoma) que es un crecimiento anormal de las células de la pared del intestino grueso, el cual puede crecer durante años y transformarse en un cáncer si no se detecta y extirpa a tiempo, pudiendo con el paso del tiempo invadir otros órganos adyacentes o propagarse por vía sanguinea a otros órganos distantes dando lugar a las llamadas metástasis.</p>
        
        <h4 class="blog-post-title mb-2">Síntomas</h4>
            <ul>
                <li>Alteración del ritmo evacuatorio.</li>
                <li>Pérdida de sangre, secreción o moco.</li>
                <li>Antecedentes familiares.</li>
            </ul>
        
        <h4 class="blog-post-title mb-2">Prevención</h4>
        <p>El cáncer de colon se puede detectar con un análisis de sangre oculta en materia 
            fecal o mediante una colonoscopía que permite observar el colon completo a imagen real para descubrir 
            la existencia de pólipos y lesiones en el recto.</p>
        <p>También se puede prevenir a partir de una nutrición equilibrada:</p>
            <ul>
                <li>Reducir la ingesta de grasa de origen animal.</li>
                <li>Disminuir el consumo de proteínas animales.</li>
                <li>Aumentar el aporte de fibras, frutas, cereales y verduras,
                    especialmente repollitos de Bruselas, coliflor y remolacha</li>
            </ul>
    </div>
    <div>
        <h2 class="blog-post-title mb-2">CÁNCER DE LARINGE</h2>
        <img src="/">   
        <p>El cáncer de laringe es provocado por la aparición de células cancerosas en la laringe, 
            órgano situado en el cuello que forma parte del aparato respiratorio y sirve para la fonación.</p>
        <p>Está asociado directamente al alcohol y al tabaquismo.</p>
        <h4 class="blog-post-title mb-2">Síntomas</h4>
            <ul>
                <li>Dolor de garganta o tos que no desaparece.</li>
                <li>Dificultad al tragar.</li>
                <li>Dolor de oído.</li>
                <li>Bulto en cuello o garganta.</li>
                <li>Cambio en la voz o ronquera.</li>
            </ul>

        <h4 class="blog-post-title mb-2">Prevención</h4>
            <p>Para detectar el cáncer de laringe se utilizan pruebas que examinan el cuello y la garganta. Una de ellas es la laringoscopía que consiste en deslizar un tubo con luz que permite observar la laringe.</p>

        <h4 class="blog-post-title mb-2"> Factores de riesgo</4>
            <ul>
                <li>Tabaquismo.</li>
                <li>Alcoholismo.</li>
                <li>Malos hábitos nutricionales.</li>
                <li>Reflujo gastroesofágico.</li>
                <li>Inmunodeficiencias.</li>
                <li>Exposición en lugar de trabajo.</li>
                <li>Contaminación ambiental.</li>
                <li>Antecedentes familiares de cáncer de laringe</li>
            </ul>
    </div>
    <div>
        <h4 class="blog-post-title mb-2"> Campaña de atención gratuita "Hábitos saludables"</h4> 
            <p>Atención nutricional gratuita a personas que <b>NO</b> tengan obra social o cobertura médica y estén cursando un tratamiento oncológico.</p>
            <p>Para turnos acercarse a Lalcec desde hoy Lunes 08/08. ¡Turnos limitados! </p>
            <img src="/">

        <h4 class="blog-post-title mb-2">Charla de Prevención Cáncer de Próstata</h5>
            <p>Muchas gracias al Dr. Cesar Flores por brindar una charla sobre el Cáncer de Próstata a la División Bomberos Pcia. Roque Sáenz Peña - Policía del Chaco.
                Agradecemos a la División de Bomberos por recibirnos en su sede y la predisposición por participar de la Charla.</p>
            <img src="/"> 
    </div>
</article>
{% endblock %}
