{% extends 'blog.html' %}

{% block title %} Acerca {% endblock %}

    {% block entry %}
            <h2 id="#acerca">Nosotros </a></h2>
            <br>
            <img src="/static/lalcec100.png" id="img1" height="600px" width="600px" padding="20px 30px 20px 30px" margin="20px 0px 20px 0px">
            <br>
            <p>Somos una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional</p>
            <br>
            <h3>VISIÓN</h3>
            <p>Nuestra visión es alcanzar una Argentina sin cáncer educando a la población y garantizando en todo el país la prevención y la detección temprana de la enfermedad además de acompañar al paciente y su familia.</p>
            <br>
            <h3>SEDES</h3>
            <p>LALCEC cuenta con una red de más de 100 miembros en toda Argentina que trabajan de manera asociada. De esta manera, puede llevar adelante actividades tanto a nivel local como nacional, logrando que sus programas de prevención y detección temprana lleguen a todo el territorio</p>
            <p>Conocé las provincias y <a target ="_blank" href="https://www.lalcec.org.ar/_files/ugd/d06361_23f3fad7e98e4521b147ce7cf160d478.pdf">sedes disponibles</a></p>
            
    {% endblock %}
