{% extends 'home.html' %}
{% load static %}
{% block title %} Acerca {% endblock %}
{% block entry %}
<article class="blog-post" id="acerca">
        <h2 class="blog-post-title mb-2">Nosotros</h2>
        <p>Somos una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional</p>
        <img src="{% static 'us004.jpg' %}"><br>
        <img src="{% static 'us003.jpg' %}"><br>
        <h3>La organización</h3>
        <p>La Liga Argentina de Lucha Contra el Cáncer (LALCEC) es una organización de la sociedad civil creada el 22 de julio de 1921 por la señora Helena Larroque de Roffo quien, ya desde ese entonces, afirmaba que la mejor manera de reducir la incidencia del cáncer es trabajando en la prevención y la detección temprana de la enfermedad.</p>
        <h3 class="blog-post-title mb-2">Visión:</h3>
        <blockquote class="blockquote"> Nuestra visión es alcanzar una Argentina sin cáncer educando a la población y garantizando en todo el país la prevención y la detección temprana de la enfermedad además de acompañar al paciente y su familia.
        </blockquote>
        <img src="{% static 'bannersomos.jpg' %}" width="500px"><br>
        <h3 class="blog-post-title mb-2">Misión:</h3>
        <blockquote class="blockquote">Nuestro propósito es reducir la mortalidad del cáncer, trabajando día a día por ayudar a miles de personas a través de la educación y concientización, la detección temprana y la prevención de los 6 tipos de cánceres que, hasta ahora, son prevenibles: mama, cuello de útero, colon, piel, pulmón y próstata. Además buscamos acompañar al paciente y su familia a través de nuestros programas de apoyo y contención.
        </blockquote>
        <h3 class="blog-post-title mb-2">Nuestros valores</h3>
        <blockquote class="blockquote">Solidaridad, compromiso, honestidad, responsabilidad, empatía.</blockquote>
        <h3 class="blog-post-title mb-2">Sedes:</h3>
        <p>LALCEC cuenta con una red de más de 100 miembros en toda Argentina que trabajan de manera asociada. De esta manera, puede llevar adelante actividades tanto a nivel local como nacional, logrando que sus programas de prevención y detección temprana lleguen a todo el territorio</p>       
        <img src="{% static 'lc002.jpg' %}" width="500px">
        <ol class="list-unstyled">
            <li>Conocé las provincias y <a target ="_blank" href="https://www.lalcec.org.ar/_files/ugd/d06361_23f3fad7e98e4521b147ce7cf160d478.pdf">sedes disponibles en Argentina</a></li>
           <li>Conocé dónde podés <a href="{% url 'contacto' %}">contactarnos en la ciudad de Saenz Peña</a></li>
        </ol>
</article>
{% endblock %}