{% extends 'blog.html' %}
{% block title %} Crear nueva categoría {% endblock %}
{% block entry %}
{% if user.is_authenticated %}
     <article class="blog-post">
        <h4 class="blog-post-title mb-1">Añadir</h3></a>
        <div class="form-group">
            <form method="POST" class="post-form">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div> 
{% else %}
<p>Error. Permiso denegado.</p>
{% endif %}
    </article>
  
{% endblock %}