{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;500&display=swap" rel="stylesheet">
    {% load bootstrap4 %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{% block title %} Blog {% endblock %}</title> 
    {% bootstrap_css %}
    
</head>

<body>
  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark justify-content" href="/"><span class="fs-2 py-3">LALCEC</span></a>
        </div>
        <nav class="navbar justify-content-center">
          <ol class="nav">
            <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link"><i class="bi bi-house-heart"></i>BLOG</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'add_post' %}" class="nav-link">Publicar</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Salir</a></li>
            <li class="nav-item"><a href="{% url 'acerca' %}" class="nav-link">Nosotros</a></li>
            <li class="nav-item"><a href="{% url 'acciones' %}" class="nav-link">Campañas</a></li>
            <li class="nav-item"><a href="{% url 'contacto' %}" class="nav-link">Contacto</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Ingresar</a></li>
            <li class="nav-item"><a href="{% url 'acerca' %}" class="nav-link">Nosotros</a></li>
            <li class="nav-item"><a href="{% url 'acciones' %}" class="nav-link">Campañas</a></li>
            <li class="nav-item"><a href="{% url 'contacto' %}" class="nav-link">Contacto</a></li>
            {% endif %}
          </ol>
        </nav>
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-bg-light" id="banner">
			<div class="col-md-6 px-0">
				<!-- <h1 class="display-4 fst-italic">Lalcec</h1>
				<p class="lead my-3">Liga Argentina de Lucha contra el cancer</p> -->
			</div>
		</div>
    </header>
  </div>

  <main class="container">
    <div class="row g-5">
      <div class="col md-8">
        <div class="col p-4 d-flex flex-column position-static">
          {% block entry %}
          {% endblock %}   
        </div>

        <nav class="blog-pagination" aria-label="Pagination">
          {% block nav %}
          {% endblock %}
        </nav>
      </div>
      
      <div class="col-md-4">
        {% block sidebar %}
        {% endblock %}
      </div>


    </div>
  </main>

  {% bootstrap_javascript jquery='full' %}
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0" nonce="H3NWI4vS"></script>  

</body>

<footer class="blog-footer">
  <!-- <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
  <p><a href="#">Volver</a></p>
</footer>

</html>