{% extends 'base.html' %}

{% block entry %}
    
    {% for post in object_list %}
    <div class="row g-0 border rounded overflow-scroll flex-md-row mb-4 shadow-sm h-md-200 position-relative"> 
        <div class="col p-4 d-flex flex-column position-static">
         <article class="blog-post">
            <h3 class="blog-post-title mb-1"><a href="{% url 'entry' post.pk %}">{{ post.titulo }}</h3></a>
            <h6>by {{ post.autor }} | {{ post.fecha_publicacion }} </h6>
            <p>{{ post.entrada }} </p> 
        </article>
        </div>
    </div>
    {% endfor %}
  
{% endblock %}