{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block entry %}
    {% for post in object_list %}
         <article class="blog-post">
            <h3 class="blog-post-title mb-3"><a href="{% url 'entry' post.pk %}">{{ post.titulo }}</h3></a>
            <p class="blog-post-meta">Por: {{ post.autor.first_name }} {{ post.autor.last_name }} | {{ post.fecha_publicacion }} </p>
            <p id="entrybody">{{ post.entrada|slice:":250"|safe }} </p>   
            <a class="btn-outline-primary" href="{% url 'entry' post.pk %}">Seguir leyendo...</a>
            <br/>
        </article>
    {% endfor %}
{% endblock %}
{% block nav %} {% include 'pagination.html' %} {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}