{% extends 'home.html' %}
{% block title %} Contacto {% endblock %}
    {% block entry %}
        <h2 class="blog-post-title mb-1">Contacto</h2>
        <h3>Para conocernos mejor y asesorarte</h3>
            <p>¿Tienes alguna pregunta sobre nuestro trabajo? ¿Estás pensando donar a una ONG y quieres más información? Estaremos encantados de ayudarte.</p>
            <ol class="list-unstyled">
                <li>Teléfono:+54 9 364 4665-055</li>
                <li>Email: lalcecspchaco@gmail.com</li>
            </ol>
            <hr>
        <h3>Seguinos:</h3>
            <p>Mantente informado de todas las novedades relacionadas con nuestra actividad. Síguenos por las redes.</p>
            <ol class="list-unstyled">
                <li><i class="bi bi-instagram"></i><a target="_blank" href="https://es-la.facebook.com/LALCECHACO/">Facebook</a></li>
                <li><i class="bi bi-facebook"></i><a target="_blank" href="https://www.instagram.com/lalcecspchaco/?hl=es">Instagram</a></li>
                <li><i class="bi bi-whatsapp"></i><a href="https://wa.me/5493644105595">WhatsApp</a></li>
            </ol>
            
        <p class="card-text">Nuestra dirección: Dorrego 178, Saenz Peña, Chaco</p>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7123.408173408304!2d-60.446865!3d-26.785701!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94412ce3c68bc62f%3A0xecccf198064f1258!2sDorrego%20478%2C%20H3700IAJ%20S%C3%A1enz%20Pe%C3%B1a%2C%20Chaco!5e0!3m2!1ses!2sar!4v1660929208041!5m2!1ses!2sar" width="550" height="300" style="border: 1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    {% endblock %}
{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
