{% extends 'home.html' %}
{% block title %} Editar post {% endblock %}
{% block entry %}
{% if user.is_authenticated %}
    {% if user.id == post.autor.id %}
     <article class="blog-post">
        <h3 class="blog-post-title mb-1">Editar blog post</h3></a>
        <div class="form-group">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <p>Estás seguro que deseas eliminar este contenido?</p>
                <button type="submit" class="btn btn-outline-danger rounded-pill">Eliminar</button>
                <a class="btn btn-outline-primary rounded-pill" href="{% url 'home' %}">Volver</a>
            </form>
        </div> 
    </article>    
    {% else %}
    <p>Error. Permiso denegado.</p>
    {% endif %}
{% endif %}  
{% endblock %}