{% extends 'base.html' %}
{% block title %} Editar post {% endblock %}
{% block entry %}
{% if user.is_authenticated %}
    {% if user.id == post.autor.id %}
     <article class="blog-post">
        <h3 class="blog-post-title mb-1">Editar blog post</h3></a>
        <div class="form-group">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <!-- {{ form.media }} -->
                {{ form.as_p }}
                <br><hr>
                <button type="submit" class="btn btn-outline-primary rounded-pill">Guardar</button>
                <a class="btn btn-outline-primary rounded-pill" href="{% url 'blog' %}">Volver</a>
                <a class="btn btn-outline-danger" href="{% url 'delete_post' post.pk %}" id="delete">Delete</a>
            </form>
        </div>
        <a class="btn-outline-primary rounded-pill" href="{% url 'add_categoria' %}">Agregar categoría</a>
    </article>
    {% else %}
    <p>Error. Permiso denegado.</p>
    {% endif %}
{% endif %}
{% endblock %}