{% extends 'home.html' %}
{% block title %} Editar post {% endblock %}
{% block entry %}
{% if user.is_authenticated %}
    {% if user.id == post.autor.id %}
    <h3 class="blog-post-title mb-4">Editar blog post</h3>
     <article class="blog-post">
        <div class="form-group">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <!-- {{ form.media }} -->
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-outline-primary rounded-pill">Guardar</button>
                <a class="btn btn-outline-danger rounded-pill" href="{% url 'delete_post' post.pk %}" id="delete">Eliminar</a>
            </form>
        </div>
        <br><a class="btn btn-outline-primary rounded-pill" href="{% url 'blog' %}">Volver</a>
    {% else %}
    <p>Error. Permiso denegado.</p>
    {% endif %}
{% endif %}
{% endblock %}