{% extends 'home.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% load social_share %}
{% add_pinterest_script %}
{% block entry %}
    <article class="blog-post">
        <h3 class="blog-post-title mb-4">{{ post.titulo }}</h3></a>
        <p class="blog-post-meta">Por: {{ post.autor.first_name }} {{ post.autor.last_name }} | {{ post.fecha_publicacion }}</p>
        <p>{{ post.entrada|safe }} </p> 
        <br>
        <a href="{% url 'blog' %}" class="btn btn-outline-primary rounded-pill">Volver</a>
        {% if user.is_authenticated %}
            {% if user.id == post.autor.id %}
            <a class="btn btn-outline-primary rounded-pill" href="{% url 'edit_post' post.pk %}">Editar</a>
            {% endif %}
        {% endif %}
    </article>
    <div class="socials mt-1">
        <p>Si te gustó este contenido, compartí en las redes!</p>
        <ul class="list-unstyled d-inline">
            <li>{% post_to_facebook object_or_url "" %}</li>
            <li>{% post_to_whatsapp object_or_url "" %}</li>
            <li>{% post_to_twitter "New Post!: {{ object.title }}" object_or_url "" %}</li>
            <li>{% send_email object.title "New Post: {{ object.title }}" object_or_url "" %}</li>
            <li>{% post_to_linkedin object_or_url %}</li>
            <li>{% save_to_pinterest object_or_url %}</li>
        </ul>
    </div>

{% add_pinterest_script %}
{% endblock %}