{% extends 'base.html' %}
{% block title %} LALCEC - Saenz Peña {% endblock %}
     
    <div class="container mr-auto">     
            {% block entry %}
                <h2 id="acerca"> Nosotros </a></h2>
                <img src="static/lalcec100.png" id="img1">
                <p>La Liga Argentina de Lucha Contra el Cáncer (LALCEC) es una organización de la sociedad civil creada el 22 de julio de 1921. 
                <p>Somos una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional</p>
            {% endblock %}

        <div class="col-md-4">
            {% block sidebar %} {% include 'sidebar.html' %}
            {% endblock %}
        </div>

    </div>
