{% extends 'base.html' %}
{% block title %} LALCEC - Saenz Peña {% endblock %}

            {% block entry %}
            <article class="blog-post">
                <h2 id="acerca" class="blog-post-title mb-1"> ¡Bienvenido! </a></h2>
                <br>
                <img src="static/lalcec100.png" id="img1" height="600px" width="600px" padding="20px 30px 20px 30px" margin="20px 0px 20px 0px">
                <br><br>
                <p>La Liga Argentina de Lucha Contra el Cáncer (LALCEC) es una organización de la sociedad civil creada el 22 de julio de 1921. 
                <p>Somos una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional</p>
            </article>
            <hr>
            {% endblock %}

        <div class="col-md-4">
            {% block sidebar %} {% include 'sidebar.html' %}
            {% endblock %}
        </div>
