{% extends 'base.html' %}
{% block title %} Un blog {% endblock %}
{% block content %}
    <main role="main">
     
    {% block container %}
    <div class="container mr-auto">     
        <!-- Example row of columns -->
        {% block entry %}
        <div class="row">
            <div class="col-md-8">
                <h2> Ciao, Benvenutti </a></h2>
                <p> Hace clicky click abajo</p>
                <p><a class="btn btn-info" href="blog/post_list" role="button">Leer más &raquo;</a></p>
            </div>
        {% endblock %}
            <div class="col-md-4" id="sidebar">
                {% block side %}
                <h3>Sidebar</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                {% endblock %}
            </div>
                
        </div>
    </div>
    {% endblock %}
    <hr>
    </div> <!-- /container -->
</main>

<footer>
    <p>info @ contacto</p>
</footer>
{% endblock %}