{% block sidebar %}
{% load static %}
<div class="col md-4" id="sidebar">
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic text-center"></h4>
            <center><img src="/static/lalcec100-transp.png" alt="logo" id="logo" height="100px" width="100px"></center>
                <br>
            <center><p class="mb-0"> LALCEC es una organización fuerte, comprometida y dinámica, que participa de diferentes redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional.</p><center>
            </p>
        </div>
        <div class="p-4">
            <center><h3 class="fst-italic">Contáctanos en nuestras redes</h3></center>
            <br>
            
            <p>
            <img src="/static/logoInstagram.png" alt="Instagram" id="logo" height="30px" width="30px" style="float: left; margin-right:10px; margin-bottom:5px"> 
            <a target="_blank" href="https://www.instagram.com/lalcecspchaco/?hl=es">lalcecspchaco</a>   
            </p>

            <p>
                <img src="/static/logoFacebook.png" alt="Facebook" id="logo" height="30px" width="30px" style="float: left; margin-right:10px; margin-bottom:5px"> 
                <a target="_blank" href="https://es-la.facebook.com/LALCECHACO/">lalcecchaco</a>   
                
            </p>

            <p>
                <img src="/static/logoWhatsapp.png" alt="WhatsApp" id="logo" height="30px" width="30px" style="float: left; margin-right:10px; margin-bottom:5px"> 
                <a target="_blank" href="https://wa.me/5493644105595">Lalcec WhatsApp</a>   
                
            </p>

        </div>
    </div>
</div>

{% endblock %}